[user]
	name = onesword0618
	email = ao.akua.leo@gmail.com
	signingkey = E2F30CEB4AEE75BE
[core]
	editer = vim
	ignoreCase = true
	fsmonitor = true
	trustctime = true
	quotePath = false
	autocrlf = false
	editor = vim -c \"set fenc=utf=8\"
[web "browser"]
	cmd = google-chrome
[color]
	ui = auto
[help]
	format = web
[alias]
	st = status
	b = branch
	co = checkout
	ft = fetch
	ft = fetch
	ft = fetch
[commit]
	gpgsign = true
